#sfr{
    position: relative;
    text-align: center;
    align-content: center;
    left: -1%;
}

body{
    height: 150vw;
    overflow-x: auto;
}

#menutoggle{
    height: max-content;
}

h2{
    text-align: center;
}

table, th, td{
    border: 2px solid #ccc;
    background: #040013;
    color: rgb(189, 255, 233);
    align-content: center;
    text-align: center;
}

#newsreviewtable{
    position: absolute;
    left: 25px;
    top: 33%;
}
#newsreviewtable th, #newsreviewtable td{
    padding: 10px;
}